<a href="https://colab.research.google.com/github/YahiaML/World-Cup-qualifiers-data/blob/main/World_Cup_qualifiers_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Importing libraries**

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#**Scraping qualified teams stats From foxsports.com**
Source: https://www.foxsports.com/soccer/fifa-world-cup-men/team-stats

##**Scraping General Stats**

In [5]:
response = requests.get('https://www.foxsports.com/soccer/fifa-world-cup-men/team-stats')
data = response.text
soup = BeautifulSoup(data,"html.parser")

In [6]:
#soup

In [7]:
Teams_stats = soup.find_all('tbody',{'class':'row-data lh-1pt43 fs-14'})

###**Modifying the data**

let's change the data to text format then to a list

In [8]:
#Teams_stats_list = []
#for Team_stats in Teams_stats:
#  Teams_stats_list = Team_stats.text.split()
#  
#print(Teams_stats_list)

Teams_stats_list = [Team_stats.text.split() for Team_stats in Teams_stats ]
Teams_stats_list = Teams_stats_list[0]
print(Teams_stats_list)

['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0', '2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0', '3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0', '4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0', '5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1', '6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0', '7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0', '8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0', '9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0', '10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0', '11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0', '12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0', '13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0', '14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0', '15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0', '16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0', '17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0', '18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0', '19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0', '20', 'South', 'Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0', '21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0', '22', 'Costa', 'Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0', '23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0', '24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1', '25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0', '26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0', '27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0', '28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0', '29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0', '30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0', '31', 'Saudi', 'Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0', '32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']

I noticed that there are some countries that their name consists of two words (South Korea, Costa Rica, Saudi Arabia), and the two words are splitted, so let's join them again

In [9]:
to_be_removed = []    # catch the second word to delete it later

for i in range(len(Teams_stats_list)):

  if Teams_stats_list[i].isalpha() and Teams_stats_list[i-1].isalpha():
    to_be_removed.append(Teams_stats_list[i])
    Teams_stats_list[i-1] = Teams_stats_list[i-1] + " " + Teams_stats_list[i]
        
Teams_stats_list = [value for value in Teams_stats_list if value not in to_be_removed]

print(to_be_removed)
print(Teams_stats_list)

['Korea', 'Rica', 'Arabia']
['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0', '2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0', '3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0', '4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0', '5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1', '6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0', '7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0', '8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0', '9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0', '10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0', '11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0', '12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0', '13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0', '14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0', '15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0', '16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0', '17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0', '18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0', '19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0', '20', 'South Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0', '21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0', '22', 'Costa Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0', '23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0', '24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1', '25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0', '26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0', '27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0', '28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0', '29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0', '30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0', '31', 'Saudi Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0', '32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']

Now, let's gather each country data in a separated list

In [10]:
count, team, teams = 1, [], []

for Team_stats in Teams_stats_list:    
  if len(team) == 16:
    team.append(Team_stats)
    teams.append(team)
    print(team)
    team = []
  else:
    team.append(Team_stats)

  count += 1 

print(teams)

['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0']
['2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0']
['3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0']
['4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0']
['5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1']
['6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0']
['7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0']
['8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0']
['9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0']
['10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0']
['11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0']
['12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0']
['13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0']
['14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0']
['15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0']
['16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0']
['17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0']
['18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0']
['19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0']
['20', 'South Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0']
['21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0']
['22', 'Costa Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0']
['23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0']
['24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1']
['25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0']
['26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0']
['27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0']
['28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0']
['29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0']
['30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0']
['31', 'Saudi Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0']
['32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']
[['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0'], ['2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0'], ['3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0'], ['4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0'], ['5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1'], ['6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0'], ['7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0'], ['8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0'], ['9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0'], ['10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0'], ['11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0'], ['12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0'], ['13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0'], ['14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0'], ['15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0'], ['16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0'], ['17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0'], ['18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0'], ['19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0'], ['20', 'South Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0'], ['21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0'], ['22', 'Costa Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0'], ['23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0'], ['24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1'], ['25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0'], ['26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0'], ['27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0'], ['28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0'], ['29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0'], ['30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0'], ['31', 'Saudi Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0'], ['32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']]

###**Convert lists to dataframe**

In [11]:
standard = pd.DataFrame(teams,columns=["index","Country", "GP", "GF", "KG", "HG", "1G", "2G", "GC", "1GC", "2GC", "A", "PK", "PKG", "YC", "RC","YRC"])  # inserting columns names
standard.head()

  index  Country GP  GF  KG HG 1G 2G GC 1GC 2GC   A PK PKG  YC RC YRC
0     1  Belgium  7  16  12  3  0  0  0   0   0  12  1   1  11  0   0
1     2  Croatia  7  14  18  2  0  0  0   0   0   8  2   1  15  0   0
2     3   France  7  14  10  2  0  0  0   0   0   6  3   3  12  0   0
3     4  England  7  12  11  5  0  0  0   0   0   6  3   3   8  0   0
4     5   Russia  5  11  14  3  0  0  0   0   0   8  1   1   7  0   1

**GP** - Games Played, **GF** - Goals, **KG** - Kicked Goals, **HG** - Header Goals, **1G** - Goals First Half, **2G** - Goals Second Half, **GC** - Goals Conceded, **1GC** - Goals Conceded First Half, **2GC** - Goals Conceded Second Half, **A** - Assists, **PK** - Penalty Kicks, **PKG** - Penalty Kick Goals, **YC** - Yellow Cards, **RC** - Red Cards, **YRC** - Yellow Red Cards

As we don't need index column, let's remove it

In [12]:
standard = standard.drop("index",axis=1)
standard.head()

   Country GP  GF  KG HG 1G 2G GC 1GC 2GC   A PK PKG  YC RC YRC
0  Belgium  7  16  12  3  0  0  0   0   0  12  1   1  11  0   0
1  Croatia  7  14  18  2  0  0  0   0   0   8  2   1  15  0   0
2   France  7  14  10  2  0  0  0   0   0   6  3   3  12  0   0
3  England  7  12  11  5  0  0  0   0   0   6  3   3   8  0   0
4   Russia  5  11  14  3  0  0  0   0   0   8  1   1   7  0   1

##**Scraping Offensive Stats**

As it's the same website, we will use the same code again to scrape the Offensive Stats table

In [13]:
response = requests.get("https://www.foxsports.com/soccer/fifa-world-cup-men/team-stats?category=offensive&season=2018&groupId=12")
data = response.text
soup = BeautifulSoup(data,"html.parser")

Teams_stats = soup.find_all('tbody',{'class':'row-data lh-1pt43 fs-14'})

# Modifying the data
Teams_stats_list = [Team_stats.text.split() for Team_stats in Teams_stats ]
Teams_stats_list = Teams_stats_list[0]

#Joining splitted names 

to_be_removed = []    # catch the second word to delete it later

for i in range(len(Teams_stats_list)):

  if Teams_stats_list[i].isalpha() and Teams_stats_list[i-1].isalpha():
    to_be_removed.append(Teams_stats_list[i])
    Teams_stats_list[i-1] = Teams_stats_list[i-1] + " " + Teams_stats_list[i]
        
Teams_stats_list = [value for value in Teams_stats_list if value not in to_be_removed]

#Gathering each country data in a separated list 

count, team, teams = 1, [], []

for Team_stats in Teams_stats_list:    
  if len(team) == 16:
    team.append(Team_stats)
    teams.append(team)    
    team = []
  else:
    team.append(Team_stats)

  count += 1

In [14]:
#print(teams)

###**convert lists to dataframe**

In [15]:
offensive = pd.DataFrame(teams,columns=["index","Country", "GP", "S", "SOG", "SOP", "SOFF", "SAB", "POSS", "C", "CS", "P", "PC", "PL", "PLC", "CK","OFF"])  # inserting columns names
offensive.head()

,index,Country,GP,S,SOG,SOP,SOFF,SAB,POSS,C,CS,P,PC,PL,PLC,CK,OFF
0,1,Belgium,7,103,39,0,36,28,53,122,39,"3,809","3,280",205,70,39,8
1,2,Brazil,5,99,39,0,31,29,57,123,31,"2,862","2,538",113,50,42,9
2,3,France,7,82,31,1,35,16,49,102,27,"3,250","2,636",212,78,21,3
3,4,Croatia,7,107,28,1,52,27,55,200,48,"3,962","3,243",313,95,40,9
4,5,England,7,91,27,0,38,26,54,158,41,"4,000","3,401",286,102,39,15

**GP** - Games Played, **S** - Shots , **SOG** - Shots On Goal, **SOP** - Shots On Post, **SOFF** - Shots Off Target, 

**SAB** - Shot Attempts Blocked, **POSS** - Possession Time Minutes Avg, **C**- Crosses, **CS** - Crosses Successfulk, **P** - Passes, **PC** - Pass Completions, 

**PL**- Pass Attempts - Long, **PLC** - Pass Completions - Long, **CK** - Corner Kicks, **OFF** - Offsides

As we don't need index column, let's remove it

In [16]:
offensive = offensive.drop("index",axis=1)
offensive.head()

,Country,GP,S,SOG,SOP,SOFF,SAB,POSS,C,CS,P,PC,PL,PLC,CK,OFF
0,Belgium,7,103,39,0,36,28,53,122,39,"3,809","3,280",205,70,39,8
1,Brazil,5,99,39,0,31,29,57,123,31,"2,862","2,538",113,50,42,9
2,France,7,82,31,1,35,16,49,102,27,"3,250","2,636",212,78,21,3
3,Croatia,7,107,28,1,52,27,55,200,48,"3,962","3,243",313,95,40,9
4,England,7,91,27,0,38,26,54,158,41,"4,000","3,401",286,102,39,15

##**Scraping Defensive Stats**

As it's the same website, we will use the same code again to scrape the Defensive Stats table

In [17]:
response = requests.get("https://www.foxsports.com/soccer/fifa-world-cup-men/team-stats?category=defensive&season=2018&groupId=12")
data = response.text
soup = BeautifulSoup(data,"html.parser")

Teams_stats = soup.find_all('tbody',{'class':'row-data lh-1pt43 fs-14'})

# Modifying the data
Teams_stats_list = [Team_stats.text.split() for Team_stats in Teams_stats ]
Teams_stats_list = Teams_stats_list[0]

#Joining splitted names 

to_be_removed = []    # catch the second word to delete it later

for i in range(len(Teams_stats_list)):

  if Teams_stats_list[i].isalpha() and Teams_stats_list[i-1].isalpha():
    to_be_removed.append(Teams_stats_list[i])
    Teams_stats_list[i-1] = Teams_stats_list[i-1] + " " + Teams_stats_list[i]
        
Teams_stats_list = [value for value in Teams_stats_list if value not in to_be_removed]

#Gathering each country data in a separated list 

count, team, teams = 1, [], []

for Team_stats in Teams_stats_list:    
  if len(team) == 10:
    team.append(Team_stats)
    teams.append(team)    
    team = []
  else:
    team.append(Team_stats)

  count += 1

In [22]:
#print(teams)

###**Convert lists to dataframe**

In [19]:
defensive = pd.DataFrame(teams,columns=["index","Country", "GP", "TI", "INT", "TKL", "TA", "GK", "F", "FK", "OG"])  # inserting columns names
defensive = defensive.drop("index",axis=1)
defensive.head()

   Country GP   TI INT  TKL   TA  GK    F   FK OG
0  England  7  161  66  230  460  55   70  113  0
1  Belgium  7  119  49  262  488  68   99   86  0
2  Croatia  7  179  42  244  473  61  111  121  1
3   France  7  143  40  229  436  61   91  109  0
4   Sweden  5   96  39   99  201  51   65   75  0

**GP** - Games Played, **TI** - Throw Ins, **INT**- Interceptions, **TKL** - Tackles, **TA** - Tackles Attempted, **GK** - Goal Kicks, **F** - Fouls, **FK** - Free Kicks, **OG** - Own Goals

##**Merging data**

In [20]:
merged_1 = pd.merge(standard, offensive, how='inner')
merged_1.head()

,Country,GP,GF,KG,HG,1G,2G,GC,1GC,2GC,...,SAB,POSS,C,CS,P,PC,PL,PLC,CK,OFF
0,Belgium,7,16,12,3,0,0,0,0,0,...,28,53,122,39,"3,809","3,280",205,70,39,8
1,Croatia,7,14,18,2,0,0,0,0,0,...,27,55,200,48,"3,962","3,243",313,95,40,9
2,France,7,14,10,2,0,0,0,0,0,...,16,49,102,27,"3,250","2,636",212,78,21,3
3,England,7,12,11,5,0,0,0,0,0,...,26,54,158,41,"4,000","3,401",286,102,39,15
4,Russia,5,11,14,3,0,0,0,0,0,...,12,39,96,21,"1,958","1,455",267,96,26,7

In [21]:
merged_2 = pd.merge(merged_1, defensive, how='inner')
merged_2.head()

,Country,GP,GF,KG,HG,1G,2G,GC,1GC,2GC,...,CK,OFF,TI,INT,TKL,TA,GK,F,FK,OG
0,Belgium,7,16,12,3,0,0,0,0,0,...,39,8,119,49,262,488,68,99,86,0
1,Croatia,7,14,18,2,0,0,0,0,0,...,40,9,179,42,244,473,61,111,121,1
2,France,7,14,10,2,0,0,0,0,0,...,21,3,143,40,229,436,61,91,109,0
3,England,7,12,11,5,0,0,0,0,0,...,39,15,161,66,230,460,55,70,113,0
4,Russia,5,11,14,3,0,0,0,0,0,...,26,7,119,34,167,357,49,95,60,2