<a href="https://colab.research.google.com/github/YahiaML/World-Cup-qualifiers-data/blob/main/World_Cup_qualifiers_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Importing libraries**

In [97]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#**Scraping qualified teams stats From foxsports.com**
Source: https://www.foxsports.com/soccer/fifa-world-cup-men/team-stats

##**Scraping General Stats**

In [98]:
response = requests.get('https://www.foxsports.com/soccer/fifa-world-cup-men/team-stats')
data = response.text
soup = BeautifulSoup(data,"html.parser")

In [99]:
#soup

In [100]:
Teams_stats = soup.find_all('tbody',{'class':'row-data lh-1pt43 fs-14'})

###**Modifying the data**

let's change the data to text format then to a list

In [101]:
#Teams_stats_list = []
#for Team_stats in Teams_stats:
#  Teams_stats_list = Team_stats.text.split()
#  
#print(Teams_stats_list)

Teams_stats_list = [Team_stats.text.split() for Team_stats in Teams_stats ]
Teams_stats_list = Teams_stats_list[0]
print(Teams_stats_list)

['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0', '2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0', '3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0', '4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0', '5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1', '6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0', '7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0', '8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0', '9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0', '10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0', '11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0', '12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0', '13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0', '14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0', '15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0', '16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0', '17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0', '18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0', '19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0', '20', 'South', 'Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0', '21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0', '22', 'Costa', 'Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0', '23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0', '24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1', '25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0', '26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0', '27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0', '28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0', '29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0', '30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0', '31', 'Saudi', 'Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0', '32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']

I noticed that there are some countries that their name consists of two words (South Korea, Costa Rica, Saudi Arabia), and the two words are splitted, so let's join them again

In [102]:
to_be_removed = []    # catch the second word to delete it later

for i in range(len(Teams_stats_list)):

  if Teams_stats_list[i].isalpha() and Teams_stats_list[i-1].isalpha():
    to_be_removed.append(Teams_stats_list[i])
    Teams_stats_list[i-1] = Teams_stats_list[i-1] + " " + Teams_stats_list[i]
        
Teams_stats_list = [value for value in Teams_stats_list if value not in to_be_removed]

print(to_be_removed)
print(Teams_stats_list)

['Korea', 'Rica', 'Arabia']
['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0', '2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0', '3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0', '4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0', '5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1', '6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0', '7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0', '8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0', '9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0', '10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0', '11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0', '12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0', '13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0', '14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0', '15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0', '16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0', '17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0', '18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0', '19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0', '20', 'South Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0', '21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0', '22', 'Costa Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0', '23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0', '24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1', '25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0', '26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0', '27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0', '28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0', '29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0', '30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0', '31', 'Saudi Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0', '32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']

Now, let's gather each country data in a separated list

In [103]:
count, team, teams = 1, [], []

for Team_stats in Teams_stats_list:    
  if len(team) == 16:
    team.append(Team_stats)
    teams.append(team)
    print(team)
    team = []
  else:
    team.append(Team_stats)

  count += 1 

print(teams)

['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0']
['2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0']
['3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0']
['4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0']
['5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1']
['6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0']
['7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0']
['8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0']
['9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0']
['10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0']
['11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0']
['12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0']
['13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0']
['14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0']
['15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0']
['16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0']
['17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0']
['18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0']
['19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0']
['20', 'South Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0']
['21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0']
['22', 'Costa Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0']
['23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0']
['24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1']
['25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0']
['26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0']
['27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0']
['28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0']
['29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0']
['30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0']
['31', 'Saudi Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0']
['32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']
[['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0'], ['2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0'], ['3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0'], ['4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0'], ['5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1'], ['6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0'], ['7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0'], ['8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0'], ['9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0'], ['10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0'], ['11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0'], ['12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0'], ['13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0'], ['14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0'], ['15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0'], ['16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0'], ['17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0'], ['18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0'], ['19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0'], ['20', 'South Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0'], ['21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0'], ['22', 'Costa Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0'], ['23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0'], ['24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1'], ['25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0'], ['26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0'], ['27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0'], ['28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0'], ['29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0'], ['30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0'], ['31', 'Saudi Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0'], ['32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']]

###**convert lists to dataframe**

In [120]:
standard = pd.DataFrame(teams,columns=["index","Country", "GP", "GF", "KG", "HG", "1G", "2G", "GC", "1GC", "2GC", "A", "PK", "PKG", "YC", "RC","YRC"])  # inserting columns names
standard.head()

,index,Country,GP,GF,KG,HG,1G,2G,GC,1GC,2GC,A,PK,PKG,YC,RC,YRC
0,1,Belgium,7,103,39,0,36,28,53,122,39,"3,809","3,280",205,70,39,8
1,2,Brazil,5,99,39,0,31,29,57,123,31,"2,862","2,538",113,50,42,9
2,3,France,7,82,31,1,35,16,49,102,27,"3,250","2,636",212,78,21,3
3,4,Croatia,7,107,28,1,52,27,55,200,48,"3,962","3,243",313,95,40,9
4,5,England,7,91,27,0,38,26,54,158,41,"4,000","3,401",286,102,39,15

**GP** - Games Played, **GF** - Goals, **KG** - Kicked Goals, **HG** - Header Goals, **1G** - Goals First Half, **2G** - Goals Second Half, **GC** - Goals Conceded, **1GC** - Goals Conceded First Half, **2GC** - Goals Conceded Second Half, **A** - Assists, **PK** - Penalty Kicks, **PKG** - Penalty Kick Goals, **YC** - Yellow Cards, **RC** - Red Cards, **YRC** - Yellow Red Cards

As we don't need index column, let's remove it

In [121]:
standard = standard.drop("index",axis=1)
standard.head()

   Country GP   GF  KG HG  1G  2G  GC  1GC 2GC      A     PK  PKG   YC  RC YRC
0  Belgium  7  103  39  0  36  28  53  122  39  3,809  3,280  205   70  39   8
1   Brazil  5   99  39  0  31  29  57  123  31  2,862  2,538  113   50  42   9
2   France  7   82  31  1  35  16  49  102  27  3,250  2,636  212   78  21   3
3  Croatia  7  107  28  1  52  27  55  200  48  3,962  3,243  313   95  40   9
4  England  7   91  27  0  38  26  54  158  41  4,000  3,401  286  102  39  15

##**Scraping Offensive Stats**

As it's the same website, we will use the same code again to scrape the Offensive Stats table

In [106]:
response = requests.get("https://www.foxsports.com/soccer/fifa-world-cup-men/team-stats?category=offensive&season=2018&groupId=12")
data = response.text
soup = BeautifulSoup(data,"html.parser")

Teams_stats = soup.find_all('tbody',{'class':'row-data lh-1pt43 fs-14'})

# Modifying the data
Teams_stats_list = [Team_stats.text.split() for Team_stats in Teams_stats ]
Teams_stats_list = Teams_stats_list[0]

#Joining splitted names 

to_be_removed = []    # catch the second word to delete it later

for i in range(len(Teams_stats_list)):

  if Teams_stats_list[i].isalpha() and Teams_stats_list[i-1].isalpha():
    to_be_removed.append(Teams_stats_list[i])
    Teams_stats_list[i-1] = Teams_stats_list[i-1] + " " + Teams_stats_list[i]
        
Teams_stats_list = [value for value in Teams_stats_list if value not in to_be_removed]

#Gathering each country data in a separated list 

count, team, teams = 1, [], []

for Team_stats in Teams_stats_list:    
  if len(team) == 16:
    team.append(Team_stats)
    teams.append(team)    
    team = []
  else:
    team.append(Team_stats)

  count += 1

In [111]:
#print(teams)

###**convert lists to dataframe**

In [118]:
offensive = pd.DataFrame(teams,columns=["index","Country", "GP", "S", "SOG", "SOP", "SOFF", "SAB", "POSS", "C", "CS", "P", "PC", "PL", "PLC", "CK","OFF"])  # inserting columns names
offensive.head()

,index,Country,GP,S,SOG,SOP,SOFF,SAB,POSS,C,CS,P,PC,PL,PLC,CK,OFF
0,1,Belgium,7,103,39,0,36,28,53,122,39,"3,809","3,280",205,70,39,8
1,2,Brazil,5,99,39,0,31,29,57,123,31,"2,862","2,538",113,50,42,9
2,3,France,7,82,31,1,35,16,49,102,27,"3,250","2,636",212,78,21,3
3,4,Croatia,7,107,28,1,52,27,55,200,48,"3,962","3,243",313,95,40,9
4,5,England,7,91,27,0,38,26,54,158,41,"4,000","3,401",286,102,39,15

**GP** - Games Played, **S** - Shots , **SOG** - Shots On Goal, **SOP** - Shots On Post, **SOFF** - Shots Off Target, 

**SAB** - Shot Attempts Blocked, **POSS** - Possession Time Minutes Avg, **C**- Crosses, **CS** - Crosses Successfulk, **P** - Passes, **PC** - Pass Completions, 

**PL**- Pass Attempts - Long, **PLC** - Pass Completions - Long, **CK** - Corner Kicks, **OFF** - Offsides

As we don't need index column, let's remove it

In [119]:
offensive = offensive.drop("index",axis=1)
offensive.head()

,Country,GP,S,SOG,SOP,SOFF,SAB,POSS,C,CS,P,PC,PL,PLC,CK,OFF
0,Belgium,7,103,39,0,36,28,53,122,39,"3,809","3,280",205,70,39,8
1,Brazil,5,99,39,0,31,29,57,123,31,"2,862","2,538",113,50,42,9
2,France,7,82,31,1,35,16,49,102,27,"3,250","2,636",212,78,21,3
3,Croatia,7,107,28,1,52,27,55,200,48,"3,962","3,243",313,95,40,9
4,England,7,91,27,0,38,26,54,158,41,"4,000","3,401",286,102,39,15

In [122]:
result = pd.concat([standard, offensive], axis=1)

In [123]:
result

,Country,GP,GF,KG,HG,1G,2G,GC,1GC,2GC,...,SAB,POSS,C,CS,P,PC,PL,PLC,CK,OFF
0,Belgium,7,103,39,0,36,28,53,122,39,...,28,53,122,39,"3,809","3,280",205,70,39,8
1,Brazil,5,99,39,0,31,29,57,123,31,...,29,57,123,31,"2,862","2,538",113,50,42,9
2,France,7,82,31,1,35,16,49,102,27,...,16,49,102,27,"3,250","2,636",212,78,21,3
3,Croatia,7,107,28,1,52,27,55,200,48,...,27,55,200,48,"3,962","3,243",313,95,40,9
4,England,7,91,27,0,38,26,54,158,41,...,26,54,158,41,"4,000","3,401",286,102,39,15
5,Sweden,5,56,21,0,23,12,40,54,19,...,12,40,54,19,"1,224",821,197,54,16,6
6,Uruguay,5,60,21,0,23,16,48,92,27,...,16,48,92,27,"2,267","1,833",173,75,18,2
7,Germany,3,68,20,0,25,23,67,117,31,...,23,67,117,31,"1,979","1,797",73,38,25,7
8,Spain,4,67,20,0,27,20,69,91,25,...,20,69,91,25,"3,426","3,139",118,65,24,6
9,Argentina,4,55,18,1,17,20,64,78,11,...,20,64,78,11,"2,353","2,030",117,36,24,6
10,Russia,5,47,18,0,17,12,39,96,21,...,12,39,96,21,"1,958","1,455",267,96,26,7
11,Japan,4,41,17,1,14,10,52,57,13,...,10,52,57,13,"2,062","1,725",165,53,19,5
12,Mexico,4,57,14,0,23,20,55,75,17,...,20,55,75,17,"1,774","1,489",164,70,20,5
13,Switzerland,4,54,14,0,18,22,56,96,31,...,22,56,96,31,"2,169","1,858",132,40,26,4
14,Tunisia,3,36,14,0,14,8,49,46,18,...,8,49,46,18,"1,447","1,218",127,36,10,6
15,Colombia,4,37,13,0,12,12,50,67,16,...,12,50,67,16,"1,940","1,554",194,70,13,7
16,Portugal,4,51,13,0,20,18,54,92,21,...,18,54,92,21,"1,965","1,674",158,75,24,4
17,Denmark,4,40,12,0,20,8,46,59,16,...,8,46,59,16,"1,789","1,387",238,88,18,5
18,Iceland,3,32,11,2,15,6,37,54,14,...,6,37,54,14,874,619,151,50,17,1
19,Peru,3,31,11,0,14,5,50,37,9,...,5,50,37,9,"1,356","1,112",122,46,9,7
20,Senegal,3,28,11,1,12,5,43,45,10,...,5,43,45,10,"1,048",794,162,52,9,9
21,South Korea,3,34,11,0,9,14,40,28,7,...,14,40,28,7,607,473,101,37,15,0
22,Morocco,3,36,10,0,18,8,49,53,14,...,8,49,53,14,"1,205",969,136,37,13,2
23,Poland,3,30,10,0,12,8,51,46,13,...,8,51,46,13,"1,452","1,209",150,66,17,4
24,Nigeria,3,38,9,1,16,13,46,45,10,...,13,46,45,10,"1,213",933,170,41,14,2
25,Australia,3,32,8,0,14,10,50,64,17,...,10,50,64,17,"1,522","1,293",113,40,14,3
26,Costa Rica,3,23,8,0,11,4,41,47,10,...,4,41,47,10,"1,115",878,150,61,11,5
27,Panama,3,23,8,0,12,3,39,28,8,...,3,39,28,8,"1,105",877,131,49,5,7
28,Saudi Arabia,3,34,8,0,15,11,57,44,10,...,11,57,44,10,"1,802","1,565",129,52,13,4
29,Serbia,3,32,7,0,17,8,45,62,21,...,8,45,62,21,"1,192",949,123,50,12,5
30,Egypt,3,28,5,0,16,7,46,39,8,...,7,46,39,8,"1,325","1,060",149,48,6,4
31,Iran,3,19,4,0,13,2,33,32,7,...,2,33,32,7,685,467,151,34,5,3