<a href="https://colab.research.google.com/github/YahiaML/World-Cup-qualifiers-data/blob/main/World_Cup_qualifiers_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Importing libraries**

In [66]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#**Scraping qualified teams stats From foxsports.com**
Source: https://www.foxsports.com/soccer/fifa-world-cup-men/team-stats

##**Scraping General Stats**

In [67]:
response = requests.get('https://www.foxsports.com/soccer/fifa-world-cup-men/team-stats')
data = response.text
soup = BeautifulSoup(data,"html.parser")

In [68]:
#soup

In [69]:
Teams_stats = soup.find_all('tbody',{'class':'row-data lh-1pt43 fs-14'})

###**Modifying the data**

In [70]:
#Teams_stats_list = []
#for Team_stats in Teams_stats:
#  Teams_stats_list = Team_stats.text.split()
#  
#print(Teams_stats_list)

Teams_stats_list = [Team_stats.text.split() for Team_stats in Teams_stats ]
Teams_stats_list = Teams_stats_list[0]
print(Teams_stats_list)

['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0', '2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0', '3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0', '4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0', '5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1', '6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0', '7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0', '8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0', '9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0', '10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0', '11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0', '12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0', '13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0', '14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0', '15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0', '16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0', '17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0', '18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0', '19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0', '20', 'South', 'Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0', '21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0', '22', 'Costa', 'Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0', '23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0', '24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1', '25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0', '26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0', '27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0', '28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0', '29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0', '30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0', '31', 'Saudi', 'Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0', '32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']

I noticed that there are some countries that their name consists of two words (South Korea, Costa Rica, Saudi Arabia), and the two words are splitted, so let's join them again

In [71]:
to_be_removed = []    # catch the second word to delete it later

for i in range(len(Teams_stats_list)):

  if Teams_stats_list[i].isalpha() and Teams_stats_list[i-1].isalpha():
    to_be_removed.append(Teams_stats_list[i])
    Teams_stats_list[i-1] = Teams_stats_list[i-1] + " " + Teams_stats_list[i]
        
Teams_stats_list = [value for value in Teams_stats_list if value not in to_be_removed]

print(to_be_removed)
print(Teams_stats_list)

['Korea', 'Rica', 'Arabia']
['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0', '2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0', '3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0', '4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0', '5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1', '6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0', '7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0', '8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0', '9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0', '10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0', '11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0', '12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0', '13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0', '14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0', '15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0', '16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0', '17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0', '18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0', '19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0', '20', 'South Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0', '21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0', '22', 'Costa Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0', '23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0', '24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1', '25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0', '26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0', '27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0', '28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0', '29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0', '30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0', '31', 'Saudi Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0', '32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']

Now, let's gather each country data in a separated list

In [72]:
count, team, teams = 1, [], []

for Team_stats in Teams_stats_list:    
  if len(team) == 16:
    team.append(Team_stats)
    teams.append(team)
    print(team)
    team = []
  else:
    team.append(Team_stats)

  count += 1 

print(teams)

['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0']
['2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0']
['3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0']
['4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0']
['5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1']
['6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0']
['7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0']
['8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0']
['9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0']
['10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0']
['11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0']
['12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0']
['13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0']
['14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0']
['15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0']
['16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0']
['17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0']
['18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0']
['19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0']
['20', 'South Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0']
['21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0']
['22', 'Costa Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0']
['23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0']
['24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1']
['25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0']
['26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0']
['27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0']
['28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0']
['29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0']
['30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0']
['31', 'Saudi Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0']
['32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']
[['1', 'Belgium', '7', '16', '12', '3', '0', '0', '0', '0', '0', '12', '1', '1', '11', '0', '0'], ['2', 'Croatia', '7', '14', '18', '2', '0', '0', '0', '0', '0', '8', '2', '1', '15', '0', '0'], ['3', 'France', '7', '14', '10', '2', '0', '0', '0', '0', '0', '6', '3', '3', '12', '0', '0'], ['4', 'England', '7', '12', '11', '5', '0', '0', '0', '0', '0', '6', '3', '3', '8', '0', '0'], ['5', 'Russia', '5', '11', '14', '3', '0', '0', '0', '0', '0', '8', '1', '1', '7', '0', '1'], ['6', 'Brazil', '5', '8', '6', '2', '0', '0', '0', '0', '0', '6', '0', '0', '7', '0', '0'], ['7', 'Spain', '4', '7', '9', '0', '0', '0', '0', '0', '0', '3', '0', '0', '2', '0', '0'], ['8', 'Uruguay', '5', '7', '4', '2', '0', '0', '0', '0', '0', '4', '0', '0', '3', '0', '0'], ['9', 'Argentina', '4', '6', '5', '1', '0', '0', '0', '0', '0', '6', '1', '0', '11', '0', '0'], ['10', 'Colombia', '4', '6', '6', '3', '0', '0', '0', '0', '0', '5', '0', '0', '9', '1', '0'], ['11', 'Japan', '4', '6', '5', '1', '0', '0', '0', '0', '0', '5', '1', '1', '5', '0', '0'], ['12', 'Portugal', '4', '6', '4', '2', '0', '0', '0', '0', '0', '4', '2', '1', '7', '0', '0'], ['13', 'Sweden', '5', '6', '5', '0', '0', '0', '0', '0', '0', '3', '2', '2', '8', '0', '0'], ['14', 'Switzerland', '4', '5', '4', '1', '0', '0', '0', '0', '0', '4', '0', '0', '9', '1', '0'], ['15', 'Tunisia', '3', '5', '4', '1', '0', '0', '0', '0', '0', '4', '1', '1', '4', '0', '0'], ['16', 'Senegal', '3', '4', '3', '0', '0', '0', '0', '0', '0', '1', '0', '0', '6', '0', '0'], ['17', 'Denmark', '4', '3', '5', '0', '0', '0', '0', '0', '0', '3', '0', '0', '3', '0', '0'], ['18', 'Mexico', '4', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '9', '0', '0'], ['19', 'Nigeria', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '1', '1', '4', '0', '0'], ['20', 'South Korea', '3', '3', '3', '0', '0', '0', '0', '0', '0', '2', '0', '0', '10', '0', '0'], ['21', 'Australia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '2', '7', '0', '0'], ['22', 'Costa Rica', '3', '2', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '6', '0', '0'], ['23', 'Egypt', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '1', '5', '0', '0'], ['24', 'Germany', '3', '2', '2', '0', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '1'], ['25', 'Iceland', '3', '2', '2', '0', '0', '0', '0', '0', '0', '0', '2', '1', '3', '0', '0'], ['26', 'Iran', '3', '2', '1', '0', '0', '0', '0', '0', '0', '0', '1', '1', '7', '0', '0'], ['27', 'Morocco', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '8', '0', '0'], ['28', 'Panama', '3', '2', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '11', '0', '0'], ['29', 'Peru', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '1', '0', '5', '0', '0'], ['30', 'Poland', '3', '2', '1', '1', '0', '0', '0', '0', '0', '2', '0', '0', '3', '0', '0'], ['31', 'Saudi Arabia', '3', '2', '2', '0', '0', '0', '0', '0', '0', '1', '2', '1', '1', '0', '0'], ['32', 'Serbia', '3', '2', '1', '1', '0', '0', '0', '0', '0', '1', '0', '0', '9', '0', '0']]

###**convert lists to dataframe**

In [73]:
standard = pd.DataFrame(teams,columns=["index","Country", "GP", "GF", "KG", "HG", "1G", "2G", "GC", "1GC", "2GC", "A", "PK", "PKG", "YC", "RC","YRC"])  # inserting columns names
standard.head()

  index  Country GP  GF  KG HG 1G 2G GC 1GC 2GC   A PK PKG  YC RC YRC
0     1  Belgium  7  16  12  3  0  0  0   0   0  12  1   1  11  0   0
1     2  Croatia  7  14  18  2  0  0  0   0   0   8  2   1  15  0   0
2     3   France  7  14  10  2  0  0  0   0   0   6  3   3  12  0   0
3     4  England  7  12  11  5  0  0  0   0   0   6  3   3   8  0   0
4     5   Russia  5  11  14  3  0  0  0   0   0   8  1   1   7  0   1

**GP** - Games Played, **GF** - Goals, **KG** - Kicked Goals, **HG** - Header Goals, **1G** - Goals First Half, **2G** - Goals Second Half, **GC** - Goals Conceded, **1GC** - Goals Conceded First Half, **2GC** - Goals Conceded Second Half, **A** - Assists, **PK** - Penalty Kicks, **PKG** - Penalty Kick Goals, **YC** - Yellow Cards, **RC** - Red Cards, **YRC** - Yellow Red Cards

As we don't need index column, let's remove it

In [74]:
standard.drop("index",axis=1, inplace= True)
standard.head()

   Country GP  GF  KG HG 1G 2G GC 1GC 2GC   A PK PKG  YC RC YRC
0  Belgium  7  16  12  3  0  0  0   0   0  12  1   1  11  0   0
1  Croatia  7  14  18  2  0  0  0   0   0   8  2   1  15  0   0
2   France  7  14  10  2  0  0  0   0   0   6  3   3  12  0   0
3  England  7  12  11  5  0  0  0   0   0   6  3   3   8  0   0
4   Russia  5  11  14  3  0  0  0   0   0   8  1   1   7  0   1